In [13]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\alokg\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alokg\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\alokg\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\alokg\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\alokg\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\alokg\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [14]:
import pandas as pd

In [15]:
dataa= {'country' : ["Brazil", "Russia", "India", "China", "South Africa"],'capital' : ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"] , "area" : [8.516, 17.10, 3.286, 9.67, 2.98] ,'population' : [200.4, 143.5, 1252, 133, 4.3]}
brics=pd.DataFrame(data={'country': country, 'capital': capital,'area': area,'population': population})

NameError: name 'country' is not defined

In [16]:
d0

NameError: name 'd0' is not defined

In [17]:
dataa

{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'area': [8.516, 17.1, 3.286, 9.67, 2.98],
 'population': [200.4, 143.5, 1252, 133, 4.3]}

In [18]:
df=pd.DataFrame(data=dataa)

In [19]:
df

        country    capital    area  population
0        Brazil   Brasilia   8.516       200.4
1        Russia     Moscow  17.100       143.5
2         India  New Delhi   3.286      1252.0
3         China    Beijing   9.670       133.0
4  South Africa   Pretoria   2.980         4.3

In [20]:
df.index = ['a','b','c','d','e']

In [25]:
df

range(1, 10, 2)

In [22]:
df.reset_index

<bound method DataFrame.reset_index of         country    capital    area  population
a        Brazil   Brasilia   8.516       200.4
b        Russia     Moscow  17.100       143.5
c         India  New Delhi   3.286      1252.0
d         China    Beijing   9.670       133.0
e  South Africa   Pretoria   2.980         4.3>

In [23]:
df = range(1,10,2)

range(1, 10, 2)

In [26]:
dataa={'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'area': [8.516, 17.1, 3.286, 9.67, 2.98],
 'population': [200.4, 143.5, 1252, 133, 4.3]}

In [27]:
df=pd.DataFrame(data=dataa)

In [28]:
df

        country    capital    area  population
0        Brazil   Brasilia   8.516       200.4
1        Russia     Moscow  17.100       143.5
2         India  New Delhi   3.286      1252.0
3         China    Beijing   9.670       133.0
4  South Africa   Pretoria   2.980         4.3

In [31]:
d1= pd.read_csv('vgSalesGlobal.csv')

In [32]:
d1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [33]:
df.head(2)

  country   capital    area  population
0  Brazil  Brasilia   8.516       200.4
1  Russia    Moscow  17.100       143.5

In [34]:
df.tail(2)

        country   capital  area  population
3         China   Beijing  9.67       133.0
4  South Africa  Pretoria  2.98         4.3

In [37]:
d1.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [36]:
d1.tail(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [38]:
d1.shape

(16598, 11)

In [39]:
d1.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [40]:
d1.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [42]:
d1.Genre

0              Sports
1            Platform
2              Racing
3              Sports
4        Role-Playing
             ...
16593        Platform
16594         Shooter
16595          Racing
16596          Puzzle
16597        Platform
Name: Genre, Length: 16598, dtype: object

In [43]:
d1.JP_Sales.describe()

count    16598.000000
mean         0.077782
std          0.309291
min          0.000000
25%          0.000000
50%          0.000000
75%          0.040000
max         10.220000
Name: JP_Sales, dtype: float64

In [44]:
d1.Genre.describe()

count      16598
unique        12
top       Action
freq        3316
Name: Genre, dtype: object

In [45]:
d1.Genre.value_counts()

Genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: count, dtype: int64