# Data Ingestion:(10%)

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel(r"C:\Users\alokg\Desktop\Machine Learing\ML_SaurabhSir\EndTermProject\Election_Data.xlsx", sheet_name="Election_Dataset_Two Classes")

In [10]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1525 entries, 0 to 1524
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               1525 non-null   int64
 1   vote                     1525 non-null   object
 2   age                      1525 non-null   int64
 3   economic.cond.national   1525 non-null   int64
 4   economic.cond.household  1525 non-null   int64
 5   Blair                    1525 non-null   int64
 6   Hague                    1525 non-null   int64
 7   Europe                   1525 non-null   int64
 8   political.knowledge      1525 non-null   int64
 9   gender                   1525 non-null   object
dtypes: int64(8), object(2)
memory usage: 119.3+ KB

In [13]:
# Checking for null values and handling them (dropping or imputing as needed).
# Performing data type validation and converting categorical or numeric data appropriately.

In [15]:
df.columns

Index(['Unnamed: 0', 'vote', 'age', 'economic.cond.national',
       'economic.cond.household', 'Blair', 'Hague', 'Europe',
       'political.knowledge', 'gender'],
      dtype='object')

In [17]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [19]:
# Checking for null values
print(df.isnull().sum())

vote                       0
age                        0
economic.cond.national     0
economic.cond.household    0
Blair                      0
Hague                      0
Europe                     0
political.knowledge        0
gender                     0
dtype: int64

In [21]:
# Encoding 'vote' Using Label Encoding

In [25]:
from sklearn.preprocessing import LabelEncoder

# Encode 'vote' column
le = LabelEncoder()
df['vote'] = le.fit_transform(df['vote'])
df = pd.get_dummies(df, columns=['vote'], drop_first=True)

In [31]:
# checking all columns are numeric:
print(df.dtypes)

age                        int64
economic.cond.national     int64
economic.cond.household    int64
Blair                      int64
Hague                      int64
Europe                     int64
political.knowledge        int64
gender                     int32
vote_1                      bool
dtype: object

In [29]:
# Since gender has only two categories (male and female), we can use Label Encoding to convert them into 0 and 1.
# Encoding 'gender' column
le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])

In [35]:
# Before computing furhter anything, checking if the DataFrame has all valid data:
print(df.shape)  # Should print (rows, columns)
print(df.head())  # Check the first few rows

(1525, 9)
   age  economic.cond.national  economic.cond.household  Blair  Hague  Europe  \
0   43                       3                        3      4      1       2
1   36                       4                        4      4      4       5
2   35                       4                        4      5      2       3
3   24                       4                        2      2      1       4
4   41                       2                        2      1      1       6

   political.knowledge  gender  vote_1
0                    2       0    True
1                    2       1    True
2                    2       1    True
3                    0       0    True
4                    2       1    True

In [37]:
# force conversion in float datatype:
df = df.astype(float)  # Convert all columns to float

# 2. Exploratory Data Analysis (EDA)